/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

nav {
  background: #222;
  padding: 5px 20px;
}

ul {
  list-style-type: none;
}

a {

  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo a:hover {
  text-decoration: none;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

.logo a,
.toggle a {
  font-size: 20px;
}



/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor: pointer;
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.bars:before,
.bars:after {
  background: #999;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}

.bars:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }

  .button.secondary {
    border: 0;
  }

  .button a {
    padding: 7.5px 15px;
    background: teal;
    border: 1px #006d6d solid;
    border-radius: 50em;
  }

  .button.secondary a {
    background: transparent;
  }

  .button a:hover {
    text-decoration: none;
    transition: all .25s;
  }

  .button:not(.secondary) a:hover {
    background: #006d6d;
    border-color: #005959;
  }

}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .button {
    order: 2;
  }

  .menu li {
    padding: 15px 10px;
  }

  .menu li.button {
    padding-right: 0;
  }
}

.arrow-up {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  right: 145px;
  top: 52px;
  display: none;

}

.login-form {
  position: absolute;
  width: 300px;
  height: auto;
  background: white;
  right: 24px;
  top: 63px;
  border-radius: 3px;
  border-bottom: 5px solid gray;
  display: none;


}

.login-form>form {
  width: 250px;
  margin: 25px auto;
  font-size: 20px;
  font-family: sans-serif, Arial;
  color: gray;
  letter-spacing: -0.05em;
}

input[type="text"],
input[type="password"] {
  width: 240px;
  height: 30px;
  border: 0px;
  outline: none;
  box-shadow: inset 0 0 10px #eee;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-family: sans-serif, Arial;
  font-size: 16px;
}

input[type="submit"] {
  width: 95%;
  height: 35px;
  background: green;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif, Arial;
  color: black;
  outline: none;
  border: 0px;
  border-radius: 3px;
  letter-spacing: -0.05em;
  cursor: pointer;


}

input[type="submit"]:hover {
  background: #0a4b33;
}

.item.button {
  margin-right: 5px;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

html {
  font-size: 12px;
  font-weight: 600;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: burlywood;
}

.container {
  width: 100%;
  height: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.brand {
  text-align: center;
  font-size: 4rem;
  color: whitesmoke;
  margin-bottom: 30px;

}
.search-bar{
    width: 100%;
    max-width: 700px;
    height:50%;
    margin: 20px auto;
    background-color: rgb(255,255,255,0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    
  }
  input{
    width: 90%;
    padding: 10px;
    border: 0;
    outline: none;
    font-size: 2rem;
    background: transparent;
    flex: 1;
    color: black;
  }
 



.search-result {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}

.item1 {
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 15px;
  overflow: hidden;
}

.item1 img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-result .title {
  color: black;
  margin: 20px 10px 0 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.view-btn {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  width: 130px;
  padding: 10px 0;
  background-color: #404041;
  color: whitesmoke;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 4px;
  align-self: flex-start;
}

.item-data {
  color: black;
  display: block;
  margin-top: 10px;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}